WebCam
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
dataset/darknet 
dataset/data/backgrounds.pck
dataset/data/cards.pck
dataset/data/val.txt
dataset/data/scenes/train
dataset/data/scenes/val
dataset/data/cards/*/
*.avi

